/* ---------------------------
            NAVBAR
---------------------------- */

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
}

.nav-items {
  display: none;
}

.nav-open {
  padding-top: .7rem;
}